name: Testing CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  workflow_dispatch:

jobs:
  test-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install coverage module
        run: sudo apt install python3-coverage

      - name: Generate coverage report
        run: |
          python -m coverage run -m unittest
          python -m coverage report

      - name: Run tests
        run: python -m unittest

  test-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install coverage module
        run: pip install coverage

      - name: Generate coverage report
        run: |
          python -m coverage run -m unittest
          python -m coverage report

      - name: Run tests
        run: python -m unittest
